<p id="notice"><%= notice %></p>

<h2>Notes</h2>

<% if @current_user.teacher? %>
  <table>
    <thead>
      <tr>
        <th>Matière</th>
        <th>Épreuve</th>
        <th>Date</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Note</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <% test = Test.where(id: note.test_id).first%>
        <% student = Student.where(id: note.student_id).first%>
        <tr>
          <td><%= Subject.where(id: note.subject_id).first.title%></td>
          <td><%= test.title%></td>
          <td><%= test.test_date %></td>
          <td><%= student.surname %></td>
          <td><%= student.name %></td>
          <td><%= note.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @current_user.student? %>
  <table>
  <thead>
    <tr>
      <th>Matière</th>
      <th>Épreuve</th>
      <th>Date</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
       <% test = Test.where(id: note.test_id).first%>
       <tr>
          <td><%= Subject.where(id: note.subject_id).first.title%></td>
          <td><%= test.title%></td>
          <td><%= test.test_date %></td>
          <td><%= note.note %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<% end %>