<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div class="field">
    <%= f.label :new %>
    <%= f.text_field :new %>
  </div>

  <div class="field">
    <%= f.label :create %>
    <%= f.text_field :create %>
  </div>

  <div class="field">
    <%= f.label :show %>
    <%= f.text_field :show %>
  </div>

  <div class="field">
    <%= f.label :update %>
    <%= f.text_field :update %>
  </div>

  <div class="field">
    <%= f.label :delete %>
    <%= f.text_field :delete %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
