<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @note.index %>
</p>

<p>
  <strong>New:</strong>
  <%= @note.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @note.create %>
</p>

<p>
  <strong>Show:</strong>
  <%= @note.show %>
</p>

<p>
  <strong>Update:</strong>
  <%= @note.update %>
</p>

<p>
  <strong>Delete:</strong>
  <%= @note.delete %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
