!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Site
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if @current_user.try(:admin?)
      = render 'layouts/adminheader'
      = render 'layouts/adminnav'
    - else
      - if @current_user.try(:teacher?)
        = render 'layouts/teacherheader'
        = render 'layouts/teachernav'
      - else
        - if @current_user.try(:student?)
          = render 'layouts/studentheader'
          = render 'layouts/studentnav'
    = flash[:notice]
    = yield
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    = javascript_include_tag "//https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
>
