<!DOCTYPE html>
<html>
	<head>
		<title>Site</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<% if @current_user.try(:admin?)%>
			<%= render 'layouts/adminheader'%>
			<%= render 'layouts/adminnav'%>
		<% else %>
			<% if @current_user.try(:teacher?) %>
				<%= render 'layouts/teacherheader'%>
				<%= render 'layouts/teachernav'%>
			<% else %>
				<% if @current_user.try(:student?) %>
					<%= render 'layouts/studentheader'%>
      				<%= render 'layouts/studentnav'%>
				<% end %>
			<% end %>
		<% end %>
		<%= flash[:info]%>
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
		<%= yield%>
	</body>
</html>
